/* HoverForever by k(r)uoni */
/* If you love your discord laggy, well I got you covered */

/* 
                                                ██▓▒█                           
                                           █▓▒▒▒▒▒▒▓                            
                                          ▒▒▒▒▒▒▒▒▒                             
                                          ▓▒▒▒▒▒▒▒                              
                                           ▒▒▒▒▒▒▓                              
                                           ▓▒▒▒▒█                               
                                            ▒▒▒▓                                
                                             ▒▓                                 
                              ▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓█       ▓█  █             ▓
                        █▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓█▓█ ▓▓█  ▓█     ▓▒▒▒
                   █▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▓▒▓█▓▓  ▓█▒▓█▒▒▒▒▒▒
               █▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒█▓▒▓█▓▓▒▒▒▓▒▒▒▒▒
            █▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓█▒▒▓▓▒▒█▓█▒▒▒▒▒▒▓▒▒
         █▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▓█▒▒▓▓▒▒▒▒▒▒▒▓▒▒
      █▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒█▒▒▒▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒█▓▓▒▒▓█▒▒▒▒▒▒▒▒▒▒
    ▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒█▓▒▒▓▓█▒▒▒▒▒▒▒▓▒▒
  ▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▓▒▒▓▒▒▒▒▒▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒█▓▒▒█▓▓▒▒▒▒▒▒▒▒▒▒
▓▒▒▒▒▓ ▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓▒▒▒▒▓▓▒▒▒▓▒▒▒▒▒▒▒▒▒▓▒▓▒▒▓▒▒█▒▒▒▒▒▒▒▒▒▒▒▒█▓▒▒▒▒█▒▒▒▒▒▓
▒▓█   ▓▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▓▒▒▒▓▓▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▓█▒▒▒▒▒▒▒▒▒▒█
     ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▓▒▓▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒█▒▒▒▓▓▒▓▒▒▒▒▒▒▒▓▓▓▒▒▒▒▒▓▒▒▒▒▒
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒█▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▓▒▒▒▒▒▒▒▓▓▓▒▒▒▒█▓▒▒▒▒▒▒▓▒▒▒▓▒
   ▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▓▒▒▒▒▒▒▒▒▒▓▒▒▒▒
  ▓▒▒▒▒▒▓▒▒▒▒▒▒▒▒▓▒██████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█████████████▓▒▒▒▓▒▓▒▒▒▒▒▒▒▒▒█▒▒▒▓
 █▒▒▒▒▒█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒███████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒███████▒▓▓██▒▒▓█▒▒▒▒▒▒▒▒▒▓▒▒▒▓
 ▒▒▒▒▓ █▒▒▒▒▒▒▒▒▓▒▒▒▒▒████████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█████████▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒▓▒▒▓▓
▓▒▒▒   ▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒████████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█████████▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓
▒▒█    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▓▓▓▓▓▓██▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▓▒▒
▓     ▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒█▓▓▓█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓█▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓
      ▒▒▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓
     █▒▒▒▒█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▓▒▒▓
     ▓▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▒▒▓▓▒▒▓▓▒▓▒▒▒▒▒▒▒▒▒▒█▒▒▓
     ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▓ 
    ▓▒▒▒█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓█
 */
@import url('https://raw.githubusercontent.com/kruoni/HoverForever/refs/heads/main-theme/theme.css');

:root {
    --avatar-wrapper-background: url(https://usrbg.is-hardly.online/usrbg/v2/1013402777201938432?3097);
    --avatar-wrapper-background-size: 216px;
    --app-background: transparent;
    /* change to #222228 for dark mode, or #dad5cf for light mode, to remove transparency*/
    --color-bg-light1: #eee8df;
    --color-bg-light2: #dad5cf;
    --color-border-light: #242322;
    --color-panel-light: #dad5cfa5;
    --color-bg-dark1: #1a1a1d;
    --color-bg-dark2: #222228;
    --color-border-dark: #c0c0c0;
    --color-panel-dark: #222228a5;
}
