@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("https://raw.githubusercontent.com/ColynOrg/CSS-Snippets/main/UsernameSymbol.css");
@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/OtherStuff/hideGlobalDiscovery.css");
@import url("https://discord-extensions.github.io/macos-titlebar/src/source.css");

:root {
    --avatar-wrapper-background: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png);
    --avatar-wrapper-background-size: 216px;
}

[class^=title_] {
    -webkit-app-region: none;
}

[class^=typeWindows_] {
    width: 60px !important;
}


div[aria-label="Copy Message ID"] {
    display: none;
}

.expression-picker-chat-input-button:not(:last-child):not([class^=buttons]:has([class^=separator])>.expression-picker-chat-input-button:nth-last-child(2)),
[aria-label="Send a gift"],
[href="/shop"],
[href="/store"],
[aria-label="Help"],
[aria-label="Inbox"],
[aria-label="Apps"],
[aria-label="Start Video Call"],
[aria-label="Start An Activity"],
[aria-label="Play Activities here"],
[class^=linkTop]>[class^=children] {
    display: none;
}

nav[class^="wrapper_"] div[class^="listItem_"]:has(div > div > div > div[class^="lowerBadge_"]),
div[class^="wrapper_"]:has(div > div > div > div[class^="lowerBadge_"]) {
    order: -2;
}

nav[class^="wrapper_"] div[class^="listItem_"]+div[aria-label] {
    display: flex;
    flex-flow: row wrap;
}

[class^="iconVisibility_"] {
    &:has([style="color: var(--text-brand);"])>[class^="unread_"] {
        background-color: var(--text-brand);
    }

    &:has([class^="mentionsBadge_"])>[class^="unread_"] {
        background-color: var(--status-danger);
    }
}

[class^="mosaicItem"]>[class^="wrapperAudio"] {
    &>[class^="audioMetadata"] {
        margin-bottom: 24px;
    }

    &>[class^="audioControls"] {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 0px 0px 8px 8px;
    }
}

[class^=botTagCompact],
[class^=repliedTextPreview],
[class^=repliedTextContentTrailingIcon] {
    order: 1 ;
}

.media-engine-video[class^=mirror_] {
    transform: none
}

[class^=panels]>[class^=container] {
    height: unset ;
    align-items: unset ;
    padding: 4px 8px ;
    flex-direction: column-reverse ;
    gap: 2px ;
    
}

[class^=avatarWrapper] {
    margin-right: unset ;
    margin-left: unset ;
    padding-left: 4px ;
}

[class^=wrapper],
[class^=contents] {
    [class^=avatarDecoration] {
        opacity: 1 ;
        visibility: visible ;
        transition: visibility 0.3s, opacity 0.3s ease ;
    }

    &:hover>[class^=avatarDecoration] {
        opacity: 0 ;
        visibility: hidden ;
    }
}

[class^=sidebar] {
    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper] {
        height: 1px;
        background: var(--avatar-wrapper-background) ;
        background-size: 0 ;
        transition: height 0.4s 0.2s, transform 0.6s, opacity 1s, background-size 0s 0.2s linear ;
        border-radius: 16px ;

        & {
            transform: scale(1) ;

            &>[class^=wrapper_] {
                opacity: 1;
            }
        }

        &>[avatarDecoration] {
            opacity: 1 ;
            visibility: visible ;
            transition: visibility 0.3s, opacity 0.3s ease ;
        }

        &:hover>[class^=wrapper_]>[avatarDecoration] {
            opacity: 0 ;
            visibility: hidden ;
        }
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper] {
        background-size: var(--avatar-wrapper-background-size) ;
        height: 75px ;
        border-radius: 16px ;

        &:hover {
            transform: scale(1.05) ;

            &>[class^=wrapper_] {
                opacity: 0.1;
            }
        }
    }

    &>[class^=panels]>[class^=container_]>[class^=flex] {
        visibility: hidden;
        opacity: 0;
        justify-content: center;
        gap: 30px;
        transition: all 0.2s 0.2s linear;
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=flex] {
        visibility: visible;
        opacity: 1;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=wrapper] {
        margin-left: -7px;
        margin-top: -34px;
        animation: 4s ease-out infinite rotating;
        transition: all 0.2s 0.2s linear;
        scale: 0.9;
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=wrapper] {
        margin-left: 1px;
        margin-top: 34px;
        scale: 1;
    }

    &>[class^=panels] {
        margin-top: -100px;
        margin-left: 12px;
        border-radius: 24px ;
        transition: all 0.4s 0.2s ease;
        background-color: transparent;
    }

    &:hover>[class^=panels] {
        margin-left: 2px;
        margin-top: 0;
        margin-right: 5px;
    }

    &>[class^=panels]>[class^=container_] {
        background-color: #232328;
        margin-bottom: 3px;
        border-radius: 32px;
        margin-right: 17.5px;
        transition: all 0.4s 0.2s ease;
    }

     &:hover>[class^=panels]>[class^=container_] {
        background-color: #232328;
        margin-bottom: 10px;
        border-radius: 16px;
        margin-right: 0;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=nameTag_] {
        visibility: hidden;
        opacity: 0;
        margin-top: 30px;
        margin-left: -100px;
        transition: visibility 0s 0.2s, opacity 0.1s 0.2s, margin-left 0.1s 0.2s ease;

        &>div>* {
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=nameTag_] {
        visibility: visible;
        opacity: 1;
        margin-top: 30px;
        margin-left: 0;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]:hover>[class^=nameTag_] {
        opacity: 0.1;
        transition: opacity 1s;
    }

    &>[class^=panels]:not(:has([class^=panel_]))>[class^=wrapper_]>[class^=container_] {
        visibility: hidden;
        background-color: #232328;
        opacity: 0;
        border-radius: 16px 16px 0 0;
        margin-top: -100px;
        border: 0px;
        transition: margin-top 0.2s 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;
    }

    &>[class^=panels]:has([class^=panel_])>[class^=wrapper_]>[class^=container_] {
        visibility: hidden;
        background-color: #232328;
        opacity: 0;
        margin-top: -100px;
        transition: margin-top 0.2s 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;
        border-radius: 0 0 0 0;
        border: 0px;
    }

    &>[class^=panels]>[class^=panel_] {
        visibility: hidden;
        background-color: #232328;
        opacity: 0;
        border-radius: 16px 16px 0 0 !important;
        margin-top: -50px;
        transition: margin-top 0.2s 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;
        border: 0px;
    }

    &:hover>[class^=panels]:not(:has([class^=panel_]))>[class^=container_] {
        border-radius: 0 0 16px 16px;
    }
    &:hover>[class^=panels]:has([class^=panel_])>[class^=container_] {
        border-radius: 0 0 16px 16px;
    }

    &:hover>[class^=panels]>[class^=wrapper_]>[class^=container_],
    &:hover>[class^=panels]>[class^=panel_] {
        visibility: visible;
        margin-top: 0;
        opacity: 1;
    }

    &>[class^=container_] {
        [class^=scroller_]>[aria-label="Channels"]>[class^=containerDefault_]>[class^=list_] {
            visibility: hidden;
            opacity: 0;
            margin-top: -8px;
            transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;

            &>[class^=draggable] {
                margin-top: -100px;
                transition: margin-top 0.2s 0.2s ease;
            }
        }

        &:hover>[class^=scroller_]>[aria-label="Channels"]>[class^=containerDefault_]>[class^=list_] {
            visibility: visible;
            margin-top: 0;
            opacity: 1;

            &>[class^=draggable] {
                margin-top: 0;
            }
        }

        &>[class^=scroller_]>[class^=content_]>li>[class^=container_] {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s 0.2s, opacity 0.4s 0.2s, margin-top 0.5s 0.2s ease;
            margin-top: -69px;
        }

        &>[class^=container_]>[class^=header_] {
            visibility: hidden;
            transition: visibility 0.3s 0.2s, opacity 0.4s 0.2s ease;
            opacity: 0;
        }

        &>[class^=container_]>[class^=animated]>[class^=bannerImage_]>[class^=bannerImg_] {
            max-width: 72px ;
            transition: max-width 1s 0.2s, height 1s 0.2s ease;
            height: auto;
        }

        &>[class^=container_]>[class^=animated] {
            background: none;
            transition: margin-top 0.8s 0.2s ease;
            margin-top: 100px;
            box-shadow: none;
        }

        &>[class^=container_]:has([class^=animated]) {
            margin-top: -100px;
            transition: margin-top 0.8s 0.2s ease;
        }

        &:not(:has([class^=animated]))>[class^=container_]:not(:has([class^=scroller_]>[class^=content_]>li>[class^=container_])) {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.7s 0.2s, opacity 0.8s 0.2s, margin-top 0.6s 0.2s ease;
            margin-top: -20px;
        }
    }

    &:hover>[class^=container_] {
        &>*,
        &>*>*>*>*,
        &>[class^=container_]>[class^=animated]>[class^=bannerImage_]>[class^=bannerImg_],
        &>[class^=animated],
        &>[class^=container_]>[class^=header_],
        &>[class^=container_]>[class^=animated],
        &>[class^=container_]:has([class^=animated]) {
            visibility: visible !important;
            margin-top: 0 !important;
            opacity: 1 !important;
            max-width: 240px;
        }
    }

    &>[class^=container_]>[class^=scroller_]>[aria-label="Channels"] {
        margin-left: 7px ;
        width: 50px;
        transition: margin-left 0.6s 0.2s, width 0.6s 0.2s ease;

        &>[class^=containerDefault_]:is([draggable=true]) {
            opacity: 0 ;
            margin-bottom: -40px ;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover>[class^=container_]>[class^=scroller_]>[aria-label="Channels"] {
        margin-left: 0 ;
        width: 240px;

        &>[class^=containerDefault_]:is([draggable=true]) {
            opacity: 1 ;
            margin-bottom: 0 ;
        }
    }

    &>[aria-label="Private channels"] {
        margin-top: -100px;
        transition: margin-top 0.8s 0.2s ease;

        &>[class^=scroller]>[class^=content_]>[class^=privateChannelsHeader] {
            opacity: 0;
            margin-bottom: -40px ;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover>[aria-label="Private channels"] {
        margin-top: -50px;

        &>[class^=scroller]>[class^=content_]>[class^=privateChannelsHeader] {
            margin-bottom: 0px ;
            opacity: 1;
        }
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

[class^=chat_] {
        &>[class^=subtitleContainer]>[class^=title] {
            margin-top: -98px;
            transition: margin-top 0.8s 0.2s ease;
        }

        &:hover>[class^=subtitleContainer]>[class^=title] {
            margin-top: 0;
        }

    &>[class^=content]>[class^=container_]:has([class^=membersWrap]) {
        max-width: 61px ;
        transition: max-width 0.6s 0.2s;

        &>[class^=membersWrap]>[class^=members_]>[class^=membersGroup_],
        &>[class^=membersWrap]>[class^=members_]>[class^=content]>[class^=membersGroup_] {
            opacity: 0 ;
            margin-bottom: -35px ;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }

        &:hover {
            max-width: 240px ;

            &>[class^=membersWrap]>[class^=members_]>[class^=membersGroup_],
            &>[class^=membersWrap]>[class^=members_]>[class^=content]>[class^=membersGroup_] {
                opacity: 1 ;
                margin-bottom: 0 ;
            }
        }
    }
}

[class^=tabBody],
[class^=content] {

    &>[class^=nowPlayingColumn],
    &>[class^=outer_] {
        margin-right: -30%;
        max-width: 30%;
        visibility: hidden;
        opacity: 0;
        transition: margin-right 0.7s 0.2s, visibility 0.6s 0.2s, opacity 0.5s 0.2s ease;
    }

    &:hover>[class^=nowPlayingColumn],
    &:hover>[class^=outer_] {
        margin-right: 0;
        visibility: visible;
        opacity: 1;
    }
}

[class^=repliedTextContentTrailingIcon_] {
    position: absolute;
    right: 0;
    pointer-events: none;
}

[class^=repliedTextPreview_] {
    padding-right: 25px;
}

[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;

    &+[class^="viewFullBio_"] {
        display: none;
    }
}

[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
}

[class^=userPopoutInner_]>[class^=body_] {
    overflow-y: auto;
}

[class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid var(--scrollbar-thin-track);
        background-color: var(--scrollbar-thin-track);
        border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--profile-body-divider-color);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
    }
}

[class^=content] {
&>[class^=text-xs] {
    display: none;
}
&>[class^=chatContent] {
    max-width: 100%;
} 
}

[class^=sidebar_]:not([class^=sidebarRegionScroller]>[class^=sidebar_]) {
    max-width: 72px;
    transition: max-width 0.6s ease 0.2s;

    &:hover {
        max-width: 240px;
    }
}

[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
    display: none;
}

[class^=voiceChannelsButton_] {
    display: none;
}

[class^=containerPadding_]>[class^=bar_] {
    display: none;
}

[class^=listItemContents]>[class^=actions_]>[aria-label="Message"]>[class^=icon_] {
    margin-left: 1px;
}

/* TRANSPARENCY!!!!!!!!!!!!!! */
[class^=chat_]>[class^=content]>[class^=container_],
/* you can remove this too (fixes a background issue caused by the snippet)*/
[class^=member] {
    background-color: #2a2d31;
}

.theme-dark {
    --background-secondary: rgba(0, 0, 0, 0.4);
}

.app_a01fb1,
.itemsContainer_fea3ef>*,
.bg_d4b6c5,
.appMount_ea7e65,
.wrapper_fea3ef,
.containerDefault_f6f816,
.messageContainer_ddb5b4,
.channelHeader_f3978e,
.messages_c06487,
.scroller_c47fa9,
.privateChannels_f0963d,
#app-mount .container_ee69e0,
.sidebar_a4d4d9,
.sidebarRegionScroller_c25c6d,
.fieldList_b69b77,
.header_fd6364,
.children_fc4f04:after {
    background-color: transparent !important;
    background: transparent !important;
}

.header_fd6364 {
    box-shadow: none !important;
    border: none !important;
}
