:root {
    --avatar-wrapper-background: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png);
    --avatar-wrapper-background-size: 216px;
    --app-background: transparent;
    /* change to #222228 to remove transparency*/
}

[class*=unreadMentionsFixedFooter_] {
    bottom: 0px;
}

[class^=footer_]:has([class*=discoveryIcon_]) {
    display: none;
}

[class^=typeWindows_] {
    width: 60px !important;
    z-index: 102;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 1px;
    margin: 0;
    padding-top: 12px;
    padding-right: 9px;
    padding-left: 3px;
    -webkit-app-region: drag;
    background: transparent;
}

[class^=wordmark] {
    display: none;
}

[class^=winButton] {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

[class^=winButton] svg {
    display: none;
}

[class*=app-focused]>body>[class^=appMount]>[class^=typeWindows]:hover>[class^=winButton] {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

[class*=app-focused]>body>[class^=appMount]>[class^=typeWindows]>[class^=winButtonClose] {
    background-color: #ff5c57;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

[class*=app-focused]>body>[class^=appMount]>[class^=typeWindows]>[class^=winButtonMinMax]:nth-child(2n) {
    background-color: #fdbd3d;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

[class*=app-focused]>body>[class^=appMount]>[class^=typeWindows]>[class^=winButtonMinMax]:nth-child(3n) {
    order: 3;
    background-color: #26c84b;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

[aria-label="Servers sidebar"] {
    margin-top: 29px;
}

.expression-picker-chat-input-button:not(:last-child):not([class^=buttons]:has([class^=separator])>.expression-picker-chat-input-button:nth-last-child(2)),
[aria-label="Send a gift"],
[href="/shop"],
[href="/store"],
[aria-label="Help"],
[aria-label="Inbox"],
[aria-label="Apps"],
[aria-label="Start Video Call"],
[aria-label="Start An Activity"],
[aria-label="Play Activities here"],
[class^=linkTop]>[class^=children] {
    display: none;
}

[class^="mosaicItem"]>[class^="wrapperAudio"] {
    &>[class^="audioMetadata"] {
        margin-bottom: 24px;
    }

    &>[class^="audioControls"] {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 0px 0px 8px 8px;
    }
}

.media-engine-video[class^=mirror_] {
    transform: none
}

[class^=wrapper],
[class^=contents] {
    [class^=avatarDecoration] {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.3s, opacity 0.3s ease;
    }

    &:hover>[class^=avatarDecoration] {
        opacity: 0;
        visibility: hidden;
    }
}

[class^=sidebar] {
    border-radius: 0 !important;

    &:not([class^=sidebarRegionScroller]>[class^=sidebar_], [class^=sidebarRegion]) {
        max-width: 72px;
        transition: max-width 0.6s 0.2s ease;

        &:hover {
            max-width: 240px;
        }
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper] {
        height: 0px;
        background: var(--avatar-wrapper-background);
        background-size: 0;
        transition: height 0.4s 0.2s, transform 0.6s, opacity 1s, background-size 0s 0.2s linear;
        border-radius: 32px;
        margin-right: unset;
        margin-left: unset;
        padding-left: 4px;

        & {
            transform: scale(1);

            &>[class^=wrapper_] {
                opacity: 1;
            }
        }
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper] {
        background-size: var(--avatar-wrapper-background-size);
        height: 75px;

        &:hover {
            transform: scale(1.05);

            &>[class^=wrapper_] {
                opacity: 0.1;
            }
        }
    }

    &>[class^=panels]>[class^=container_]>[class^=flex] {
        visibility: hidden;
        opacity: 0;
        justify-content: center;
        gap: 30px;
        transition: visibility 0.3s 0.2s, opacity 0.2s 0.2s, gap 0.2s 0.2s linear;
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=flex] {
        visibility: visible;
        opacity: 1;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=wrapper] {
        margin-left: -7px;
        margin-top: -34px;
        scale: 0.9;
        transition: all 0.2s 0.2s linear;
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=wrapper] {
        margin-left: 5px;
        margin-top: 33px;
        scale: 1;
    }

    &>[class^=panels] {
        margin-top: -100px;
        margin-left: 12px;
        margin-right: 16px;
        margin-bottom: 4px;
        border-radius: 32px;
        background-color: transparent;
        border: rgb(192, 192, 192) solid;
        border-width: 1px 1px 1px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.719);
        transition: border-radius 0.4s 0.2s, margin-left 0.4s 0.2s, margin-top 0.4s 0.2s, margin-right 0.4s 0.2s ease;
    }

    &:hover>[class^=panels] {
        margin-left: 2px;
        margin-top: 0px;
        margin-right: 5px;
        border-radius: 32px;
    }

    &>[class^=panels]>[class^=container_] {
        background-color: #222228a5;
        border-radius: 32px;
        height: unset;
        align-items: unset;
        padding: 4px 8px;
        flex-direction: column-reverse;
        gap: 2px;
        transition: border-radius 0.4s 0.2s ease;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=nameTag_] {
        visibility: hidden;
        opacity: 0;
        margin-top: 33px;
        margin-left: -4px;
        transition: visibility 0.1s 0.2s, opacity 0.2s 0.2s, margin-left 0.1s 0.2s ease;

        &>div>* {
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
    }

    &:hover>[class^=panels]>[class^=container_]>[class^=avatarWrapper]>[class^=nameTag_] {
        visibility: visible;
        opacity: 1;
    }

    &>[class^=panels]>[class^=container_]>[class^=avatarWrapper]:hover>[class^=nameTag_] {
        opacity: 0;
        transition: opacity 1s;
    }

    &>[class^=panels]>[class^=wrapper_]>[class^=container_] {
        visibility: hidden;
        opacity: 0;
        border-radius: 16px 16px 0 0;
        margin-top: -100px;
        transition: margin-top 0.2s 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;
    }

    &>[class^=panels]:not(:has([class^=panel_]))>[class^=wrapper_]>[class^=container_] {
        border-radius: 16px 16px 0 0;
        border: none;
        background-color: #222228a5;
    }

    &>[class^=panels]:has([class^=panel_])>[class^=wrapper_]>[class^=container_] {
        border-radius: 0 0 0 0;
        border: none;
        background-color: #222228a5;
    }

    &>[class^=panels]>[class^=panel_] {
        visibility: hidden;
        background-color: #222228a5;
        opacity: 0;
        border-radius: 16px 16px 0 0;
        margin-top: -50px;
        transition: margin-top 0.2s 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s ease;
        border: none;
    }

    &:hover>[class^=panels]:not(:has([class^=panel_]))>[class^=container_] {
        border-radius: 0 0 16px 16px;
        border-width: 0px 1px 0px;
    }

    &:hover>[class^=panels]:has([class^=panel_])>[class^=container_] {
        border-radius: 0 0 16px 16px;
        border-width: 0px 1px 1px;
    }

    &:hover>[class^=panels]:not(:has([class^=wrapper]>[class^=container_]>[class^=flex]))>[class^=container_] {
        border-radius: 32px;
        border-width: 1px 1px 1px;
    }


    &:hover>[class^=panels]>[class^=wrapper_]>[class^=container_],
    &:hover>[class^=panels]>[class^=panel_] {
        visibility: visible;
        margin-top: 0;
        opacity: 1;
    }

    &>[class^=container_]>[class^=scroller_]>[aria-label="Channels"]>[class^=containerDefault_]>[class^=list_] {
        &>[class^=draggable] {
            margin-left: -30px;

            &>[class^=voiceUser]>[class^=content]>*:not([class^=userAvatar]) {
                margin-left: 100px;
                transition: margin-left 0.6s 0.2s ease;
            }
        }
    }

    &:hover>[class^=container_]>[class^=scroller_]>[aria-label="Channels"]>[class^=containerDefault_]>[class^=list_]>[class^=draggable]>[class^=voiceUser]>[class^=content]>*:not([class^=userAvatar]) {
        margin-left: 0;
    }

    &>[class^=container] {
        &>[class^=scroller_] {
            &>[aria-label="Channels"]>[class^=containerDefault_]>div>[class^=iconVisibility]>div>[class^=link_]>[class^=linkBottom]>[class^=text-xs] {
                visibility: hidden;
                opacity: 0;
                margin-top: -16px;
                transition: all 0.4s 0.2s ease;
            }

            &>[class^=content_]>li>[class^=container_] {
                visibility: hidden;
                opacity: 0;
                margin-top: -69px;
                transition: visibility 0.3s 0.2s, opacity 0.4s 0.2s, margin-top 0.5s 0.2s ease;
            }
        }

        &:hover>[class^=scroller_]>[aria-label="Channels"]>[class^=containerDefault_]>div>[class^=iconVisibility]>div>[class^=link_]>[class^=linkBottom]>[class^=text-xs] {
            visibility: visible;
            margin-top: 0;
            opacity: 1;
        }

        &>[class^=container_] {
            &>[class^=animated] {
                background: none;
                margin-top: 100px;
                box-shadow: none;
                transition: margin-top 1s 0.2s ease;
                
                &>[class^=bannerImage_]>[class^=bannerImg_] {
                    max-width: 72px;
                    height: auto;
                    transition: max-width 0.8s 0.2s, height 1s 0.2s ease;
                }
            }

            &:has([class^=animated]) {
                margin-top: -100px;
                transition: margin-top 1s 0.2s ease;
            }
        }

        &:not(:has([class^=animated]))>[class^=container_]:not(:has([class^=scroller_]>[class^=content_]>li>[class^=container_])) {
            visibility: hidden;
            opacity: 0;
            margin-top: -25px;
            transition: visibility 0.7s 0.2s, opacity 0.8s 0.2s, margin-top 0.6s 0.2s ease;
        }
    }

    &:hover>[class^=container_] {
        &>[class^=container_]>[class^=animated]>[class^=bannerImage_]>[class^=bannerImg_],
        &>[class^=container_]>[class^=animated],
        &>[class^=container_]:has([class^=animated]) {
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
            max-width: 240px;
        }

        &:hover:not(:has([class^=animated]))>[class^=container_]:not(:has([class^=scroller_]>[class^=content_]>li>[class^=container_])) {
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
        }
    }

    &>[class^=container_]>[class^=scroller_]>[aria-label="Channels"] {
        margin-left: 7px;
        width: 50px;
        transition: margin-left 0.6s 0.2s, width 0.6s 0.2s ease;

        &>[class^=containerDefault_]:is([draggable=true]) {
            opacity: 0;
            margin-bottom: -40px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover>[class^=container_]>[class^=scroller_]>[aria-label="Channels"] {
        margin-left: 0;
        width: 240px;

        &>[class^=containerDefault_]:is([draggable=true]) {
            opacity: 1;
            margin-bottom: 0;
        }
    }

    &>[aria-label="Private channels"] {
        margin-top: -100px;
        transition: margin-top 0.8s 0.2s ease;

        &>[class^=scroller]>[class^=content_]>[class^=privateChannelsHeader] {
            opacity: 0;
            margin-bottom: -40px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover>[aria-label="Private channels"] {
        margin-top: -50px;

        &>[class^=scroller]>[class^=content_]>[class^=privateChannelsHeader] {
            margin-bottom: 0px;
            opacity: 1;
        }
    }
}

[class^=chat_] {
    &>[class^=subtitleContainer]>[class^=title] {
        margin-top: -98px;
        transition: margin-top 0.8s 0.2s ease;
        background-color: #222228;
    }

    &:hover>[class^=subtitleContainer]>[class^=title] {
        margin-top: 0;
    }

    &>[class^=content]>[class^=container_]:has([class^=membersWrap]) {
        max-width: 60px;
        transition: max-width 0.6s 0.2s;

        &>[class^=membersWrap]>[class^=members_]>[class^=membersGroup_],
        &>[class^=membersWrap]>[class^=members_]>[class^=content]>[class^=membersGroup_] {
            opacity: 0;
            margin-bottom: -35px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }

        &:hover {
            max-width: 240px;

            &>[class^=membersWrap]>[class^=members_]>[class^=membersGroup_],
            &>[class^=membersWrap]>[class^=members_]>[class^=content]>[class^=membersGroup_] {
                opacity: 1;
                margin-bottom: 0;
            }
        }
    }
}

[class^=tabBody],
[class^=content] {

    &>[class^=nowPlayingColumn],
    &>[class^=outer_] {
        margin-right: -30%;
        max-width: 30%;
        transition: margin-right 0.7s 0.2s ease;
    }

    &>[class^=nowPlayingColumn]>[class^=container_] {
        background-color: #222228;
    }

    &:hover>[class^=nowPlayingColumn],
    &:hover>[class^=outer_] {
        margin-right: 0;
    }
}

[class^=repliedTextContentTrailingIcon_] {
    position: absolute;
    right: 0;
    pointer-events: none;
}

[class^=repliedTextPreview_] {
    padding-right: 25px;
}

[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;

    &+[class^="viewFullBio_"] {
        display: none;
    }
}

[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
}

[class^=userPopoutInner_]>[class^=body_] {
    overflow-y: auto;
}

[class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid var(--scrollbar-thin-track);
        background-color: var(--scrollbar-thin-track);
        border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--profile-body-divider-color);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
    }
}

[class^=menu_] {
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 16px;
}

[class^=submenu_] {
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 16px;
    margin-left: 3px;
}

[class^=content] {
    &>[class^=text-xs] {
        display: none;
    }

    &>[class^=chatContent] {
        max-width: 100%;
    }
}

[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
    display: none;
}

[class^=voiceChannelsButton_] {
    display: none;
}

[class^=containerPadding_]>[class^=bar_] {
    display: none;
}

[class^=listItemContents]>[class^=actions_]>[aria-label="Message"]>[class^=icon_] {
    margin-left: 1px;
}

[class^=channelTextArea_]:not(:has([class^=stacked]))>[class^=scrollableContainer], [class^=form_]>[class^=wrapper] {
    border: rgb(192, 192, 192) solid;
    border-width: 1px 1px 1px;
}

[class^=channelTextArea_]:has([class^=stacked])>[class^=scrollableContainer] {
    border: rgb(192, 192, 192) solid;
    border-width: 0px 1px 1px;
}

[class^=stackedBars]>div>div>div>[class^=replyBar_] {
    border: rgb(192, 192, 192) solid;
    border-width: 1px 1px 0px;
}

[class^=channelTextArea]>[class^=stackedBars_] {
    background: transparent;
}

[class^=container_]>[class^=theme-dark],
[class^=member],
[class^=background_]>[class^=fieldList_],
[class^=accountProfile]>[class^=background_],
[class^=chat_]>[class^=content]>[class^=container_],
[class^=clipContainer]>[class^=container]>[class^=reply] {
    background-color: #222228;
}

[class^=memberSinceWrapper_], [class^=memberSinceWrapper]>*:not([class^=divider]) {
    background: none;
}

[class^=popout] {
    background-color: #222228;
    border: 1px rgb(192, 192, 192) solid;

    &>[class^=flex_]:not([id^=":"]) {
        background-color: #1a1a1d;
    }
}

.theme-dark {
    --background-accent: rgb(221, 218, 224);
    --background-modifier-selected: rgba(104, 35, 174, 0.395);
    --background-modifier-hover: rgba(214, 201, 226, 0.3);
    --background-modifier-active: rgba(70, 15, 125, 0.5);
    --channeltextarea-background: #222228;
    --background-primary: #1a1a1d;
    --background-floating: #222228;
    --background-secondary-alt: #222228;
    --channels-default: rgb(221, 218, 224);
    --channel-icon: rgb(104, 35, 174);
    --interactive-normal: rgb(221, 218, 224);
    --menu-item-default-hover-bg: rgba(104, 35, 174, 0.395);
    --menu-item-default-active-bg: rgba(70, 15, 125, 0.5);
    --background-secondary: rgba(0, 0, 0, 0.4);
}

[class^=app_],
[class^=app_]>[class^=bg_],
[class^=appMount_],
[class^=layer_]>[class^=container]>[class^=wrapper_],
[class^=privateChannels]>[class^=scroller_],
[class^=privateChannels_],
[class^=sidebar_]>[class^=container_],
[class^=sidebar_],
[class^=sidebarRegion_]>[class^=sidebarRegionScroller_] {
    background-color: var(--app-background);
    background: var(--app-background);
}

[class^=container_]>[class^=header_] {
    box-shadow: none;
    border: none;
    background: transparent;
}

[class^=peopleListItem_] {
    background-color: #222228;
    border-radius: 8px;
    margin: 15px 30px 15px 30px;
    transition: all 0.5s ease;

    &:hover {
        background-color: #222228;
        border-radius: 8px;
        border: 1px rgb(192, 192, 192) solid;
        margin: 15px 45px 15px 45px;
    }

    &>[class^=listItemContents_] {
        margin: 15px;
    }
}

[class^=scroller_]>[class^=itemCard] {
    background-color: #222228;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    transition: all 0.5s ease;

    &:hover {
        background-color: #222228 !important;
        border-radius: 8px;
        border: 1px rgb(192, 192, 192) solid;
        margin: 10px 15px 10px 15px;
    }
}

[class^=scroller_]>[role^=group]>[class^=item_],
[role^=group]>div>[class^=item_] {
    border-radius: 8px;
}

[id^=message-accessories]+[class^=buttonContainer]>[class^=buttons] {
    top: -27px;
}

[class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]) {
    position: sticky;
    bottom: 0px;
    z-index: 999;
    background: #0f0f10;
}
