.theme-dark {
    --background-accent: var(--background-accent-dark);
    --background-modifier-selected: var(--color-accent-button);
    --background-modifier-hover: var(--background-modifier-hover-dark);
    --background-modifier-active: var(--color-accent-button-hover);
    --chat-background-default: var(--color-bg-dark2) !important;
    --background-primary: var(--color-bg-dark2) !important;
    --background-floating: var(--color-bg-dark2);
    --background-tertiary: var(--color-bg-dark2) !important;
    --channels-default: var(--text-color-dark) !important;
    --channel-icon: var(--color-channel-icon);
    --interactive-normal: var(--text-color-dark);
    --interactive-active: var(--text-color-dark-active);
    --menu-item-default-hover-bg: var(--color-accent-button);
    --menu-item-default-active-bg: var(--color-accent-button-hover);
    --button-filled-brand-background: var(--color-accent-button);
    --button-filled-brand-background-hover: var(--color-accent-button-hover);
    --brand-500: var(--color-accent-button);
    --brand-experiement-560: var(--color-accent-button);
    --brand-experiement-500: var(--color-accent-button);
    --primary-500: var(--color-accent-button);
    --primary-860: invert(1);
    --background-base-lower: var(--color-bg-dark1) !important;
    --background-secondary: var(--color-bg-dark2);
    --modal-background: var(--color-bg-dark1) !important;
    --modal-footer-background: var(--color-bg-dark1) !important;
    --header-secondary: var(--channels-default);
    --custom-channel-members-bg: var(--color-bg-dark1);
    --card-primary-bg: var(--color-bg-dark1) !important;

    .popout__3f413 {
        background-color: var(--color-bg-dark2);
        border: 1px solid var(--color-border-dark);
    }

    .headerContent_f37cb1 {
        filter: drop-shadow(0 1px 1px var(--color-shadow-dark));
    }

    .avatar__37e49::before {
        border: 1px solid var(--color-border-dark);
        background: var(--color-panel-dark);
    }

    [class^=container_]>[class^=userContainer] {
        background-color: var(--color-bg-dark1);
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    .root__24502,
    .root__49fc1 {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    [class*=listElementWrapper__]>[class^=linkButton],
    [class*=listElementWrapper__]>[class^=childButton_],
    [class^=tableRowGroup]>[class^=content] {
        background-color: var(--color-bg-dark1);
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    [class^=content]>[class^=cell] {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
        padding: 10px 10px 10px;
        margin: 10px 0 10px;
    }

    .footer__49fc1,
    .vcd-screen-picker-footer,
    .horizontalReverse__7c0ba {
        border-radius: 0px 0px 8px 8px;
        box-shadow: inset 0 -4px 4px var(--color-shadow-dark);
    }

    .modal_ca6911>*:last-child {
        border-radius: 0px 0px 8px 8px;
        box-shadow: inset 0 -4px 3px var(--color-shadow-dark);
    }

    [class^=content]>[class^=container_]>[class*=container_] {
        box-shadow: inset 0 -1px 4px var(--color-shadow-dark);
    }

    .messagesPopout__45690 {
        box-shadow: inset 0 -6px 5px var(--color-shadow-dark);
    }

    .container__9b0f4:not(.vcd-screen-picker-modal) {
        box-shadow: 3px 3px 20px var(--color-shadow-dark);
        border-radius: 8px;

        .inviteSplash__9b0f4 {
            border: var(--color-border-dark) solid;
            border-radius: 0px 8px 8px 0px;
            border-width: 1px 1px 1px 0px;
            box-shadow: inset 0 -5px 3px var(--color-shadow-dark);
        }

        .content__49fc1 {
            background-color: var(--color-bg-dark2);
            border: var(--color-border-dark) solid;
            border-radius: 8px 8px 8px 8px;
            border-width: 1px 1px 1px 1px;
            box-shadow: inset 0 -5px 3px var(--color-shadow-dark);
            transform: scale(1.02) translateX(-2px);
        }
    }

    .vcd-screen-picker-option-radio,
    .select__3f413 {
        background-color: var(--color-bg-dark2);
        border: 1px solid var(--color-border-dark);
    }

    .contentRegionScroller__23e6b,
    .sidebarRegionScroller__23e6b,
    .header__45690 {
        background: var(--color-bg-dark1);
    }

    .vertical_abf706 {
        border-radius: 8px 8px 0 0;
        padding-bottom: 5px;
    }

    .messageGroupCozy__45690 {
        background: var(--color-bg-dark2);
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
        margin-left: unset;
    }

    .panels_c48ade {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 1px;
        box-shadow: 1px 2px 5px var(--color-shadow-dark);
    }

    #vc-spotify-player {
        background-color: var(--color-panel-dark);
    }

    .panel__5dec7,
    .panels_c48ade>[class^=container_],
    .panels_c48ade:has(.panel__5dec7)>[class^=wrapper_]>[class^=container_],
    .panels_c48ade:not(:has(.panel__5dec7))>[class^=wrapper_]>[class^=container_] {
        background-color: var(--color-panel-dark);
    }

    .title_f75fb0 {
        background-color: var(--color-bg-dark2);
        box-shadow: inset 0 -3px 6px var(--color-shadow-dark);
    }

    .messagesPopoutWrap__45690 {
        background-color: var(--color-bg-dark1) !important;
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    .menu_c1e9c4 {
        border: 1px var(--color-border-dark) solid;
        background-color: var(--color-bg-dark2);
        border-radius: 8px;
        box-shadow: inset 0 -3px 2px var(--color-shadow-dark), 0 3px 10px var(--color-shadow-dark);

        .item_c1e9c4:not(.colorDanger_c1e9c4)>.label_c1e9c4 {
            color: var(--text-color-dark);
        }
    }

    .submenu_c1e9c4 {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
        margin-left: 3px;
    }

    .channelTextArea_f75fb0:not(:has(.stackedBars__74017))>.scrollableContainer__74017,
    [class^=form_]>[class^=wrapper] {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 1px;
        box-shadow: inset 0 -6px 3px var(--color-shadow-dark);
    }

    .jumpToPresentBar__0f481 {
        background-color: var(--color-bg-dark2) !important;
        border: 1px var(--color-border-dark) solid;
        width: 400px;
    }

    .channelTextArea_f75fb0:has(.stackedBars__74017)>.scrollableContainer__74017 {
        border: var(--color-border-dark) solid;
        border-width: 0px 1px 1px;
        box-shadow: inset 0 -6px 3px var(--color-shadow-dark);
    }

    .replyBar__841c8 {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 0px;
    }

    .themed__9293f,
    .background__1fed1,
    .fieldList__1fed1,
    .replyBar__841c8,
    .container__7d20c,
    .member__5d473,
    .container_c8ffbb,
    .members_c8ffbb {
        background: var(--color-bg-dark2);
    }

    .member__5d473:hover {
        background: var(--background-modifier-hover-dark);
    }

    .popout_cba592 {
        background-color: var(--color-bg-dark2);
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;

        .horizontalReverse__7c0ba {
            background-color: var(--color-bg-dark1);
            border-radius: 0px 0px 8px 8px;
        }
    }

    .peopleListItem_cc6179 {
        background-color: var(--color-bg-dark2);
        box-shadow: inset 0 -2px 3px var(--color-shadow-dark);

        &:hover {
            background-color: var(--color-bg-dark2);
            border: 1px var(--color-border-dark) solid;
        }
    }

    .searchBar__5ec2f,
    .searchBar__97492 {
        box-shadow: inset 0 -2px 3px var(--color-shadow-dark);
    }

    .itemCard__7e549 {
        background-color: var(--color-bg-dark2);

        &:hover {
            background-color: var(--color-bg-dark2) !important;
            border: 1px var(--color-border-dark) solid;
        }
    }

    .buttonsInner__5126c {
        border: 1px var(--color-border-dark) solid;
        background-color: var(--color-bg-dark2);
    }

    .searchResultsWrap_a9e706 .container__86c0f {
        background: #0f0f10;
    }

    .link__972a0,
    .name__2ea32 {
        color: var(--text-color-dark);
    }

    .name__20a53,
    .name__2ea32,
    .subtext__972a0,
    .headerText__99e7c,
    .overflow__82b15 {
        text-shadow: 1px 1px 2px var(--color-shadow-dark);
    }

    .icon__2ea32 {
        color: var(--color-channel-icon);
    }
}

.theme-light {
    --background-accent: var(--background-accent-light);
    --background-modifier-selected: var(--color-accent-button);
    --background-modifier-hover: var(--background-modifier-hover-light);
    --background-modifier-active: var(--color-accent-button-hover);
    --chat-background-default: var(--color-bg-light2) !important;
    --background-primary: var(--color-bg-light2) !important;
    --background-floating: var(--color-bg-light2);
    --background-tertiary: var(--color-bg-light2) !important;
    --channels-default: var(--text-color-light) !important;
    --channel-icon: var(--color-channel-icon);
    --interactive-normal: var(--text-color-light);
    --interactive-active: var(--text-color-light-active);
    --menu-item-default-hover-bg: var(--color-accent-button);
    --menu-item-default-active-bg: var(--color-accent-button-hover);
    --button-filled-brand-background: var(--color-accent-button);
    --button-filled-brand-background-hover: var(--color-accent-button-hover);
    --brand-500: var(--color-accent-button);
    --brand-experiement-560: var(--color-accent-button);
    --brand-experiement-500: var(--color-accent-button);
    --primary-500: var(--color-accent-button);
    --primary-860: invert(1);
    --background-base-lower: var(--color-bg-light1) !important;
    --background-secondary: var(--color-bg-light2);
    --modal-background: var(--color-bg-light1) !important;
    --modal-footer-background: var(--color-bg-light1) !important;
    --header-secondary: var(--channels-default);
    --custom-channel-members-bg: var(--color-bg-light1);
    --card-primary-bg: var(--color-bg-light1) !important;

    .defaultColor__4bd52 {
        color: var(--text-color-light);
    }

    .headerContent_f37cb1 {
        filter: drop-shadow(0 1px 1px var(--color-shadow-light));
    }

    .avatar__37e49::before {
        border: 1px solid var(--color-border-light);
        background: var(--color-panel-light);
    }

    [class^=container_]>[class^=userContainer] {
        background-color: var(--color-bg-light2);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
    }

    .root__24502,
    .root__49fc1 {
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
    }

    [class*=listElementWrapper__]>[class^=linkButton],
    [class*=listElementWrapper__]>[class^=childButton_],
    [class^=tableRowGroup]>[class^=content] {
        background-color: var(--color-bg-light2);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
    }

    [class^=content]>[class^=cell] {
        background-color: var(--color-bg-light2);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
        padding: 10px 10px 10px;
        margin: 10px 0 10px;
    }

    .footer__49fc1,
    .vcd-screen-picker-footer,
    .horizontalReverse__7c0ba {
        border-radius: 0px 0px 8px 8px;
        box-shadow: inset 0 -4px 6px var(--color-shadow-light);
    }

    .modal_ca6911>*:last-child {
        border-radius: 0px 0px 8px 8px;
        box-shadow: inset 0 -4px 3px var(--color-shadow-light);
    }

    [class^=content]>[class^=container_]>[class*=container_] {
        box-shadow: inset 0 -1px 4px var(--color-shadow-light);
    }

    .vcd-screen-picker-option-radio,
    .select__3f413 {
        background-color: var(--color-bg-light2);
        border: 1px solid var(--color-border-light);
    }


    .container__9b0f4 {
        box-shadow: 3px 3px 20px var(--color-shadow-light);
        border-radius: 8px;

        .inviteSplash__9b0f4 {
            border: var(--color-border-light) solid;
            border-radius: 0px 8px 8px 0px;
            border-width: 1px 1px 1px 0px;
        }

        .content__49fc1 {
            background-color: var(--color-bg-light1);
            border: var(--color-border-light) solid;
            border-radius: 8px 8px 8px 8px;
            border-width: 1px 1px 1px 1px;
            box-shadow: inset 0 -5px 3px var(--color-shadow-light);
            transform: scale(1.02) translateX(-2px);
        }
    }

    .card__73069:not(.vcd-screen-picker-card),
    .contentRegionScroller__23e6b,
    .sidebarRegionScroller__23e6b,
    .header__45690 {
        background: var(--color-bg-light1);
    }

    .vertical_abf706 {
        border-radius: 8px 8px 0 0;
        padding-bottom: 5px;
    }

    .messageGroupCozy__45690 {
        background: var(--color-bg-light2);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
        margin-left: unset;
    }

    .panels_c48ade {
        border: var(--color-border-light) solid;
        border-width: 1px 1px 1px;
        box-shadow: 1px 2px 5px var(--color-shadow-light);
    }

    #vc-spotify-player {
        background-color: var(--color-panel-light);
        border: var(--color-border-light) solid;
        border-width: 1px 1px 1px;
    }

    .panels_c48ade>[class^=container_],
    .panel__5dec7,
    .panels_c48ade:has(.panel__5dec7)>[class^=wrapper_]>[class^=container_],
    .panels_c48ade:not(:has(.panel__5dec7))>[class^=wrapper_]>[class^=container_] {
        background-color: var(--color-panel-light);
    }

    .title_f75fb0 {
        background-color: var(--color-bg-light2);
        box-shadow: inset 0 -1px 4px var(--color-shadow-light);
    }

    .messagesPopoutWrap__45690 {
        background-color: var(--color-bg-light1) !important;
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
    }

    .messagesPopoutWrap__45690 {
        box-shadow: inset 0px -4px 4px var(--color-shadow-light);
    }

    .menu_c1e9c4 {
        border: 1px var(--color-border-light) solid;
        background-color: var(--color-bg-light2);
        border-radius: 8px;
        box-shadow: inset 0 -3px 2px var(--color-shadow-light), 0 3px 10px var(--color-shadow-light);

        .item_c1e9c4:not(.colorDanger_c1e9c4) .label_c1e9c4 {
            color: var(--text-color-light);
        }
    }

    .submenu_c1e9c4 {
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
        margin-left: 3px;
    }

    .channelTextArea_f75fb0:not(:has(.stackedBars__74017))>.scrollableContainer__74017 {
        border: 1px var(--color-border-light) solid;
        border-width: 1px 1px 1px;
        box-shadow: inset 0 -6px 3px var(--color-shadow-light);
    }

    .jumpToPresentBar__0f481 {
        background-color: var(--color-bg-light2) !important;
        border: 1px var(--color-border-light) solid;
        width: 400px;
    }

    .channelTextArea_f75fb0:has(.stackedBars__74017)>.scrollableContainer__74017 {
        border: 1px var(--color-border-light) solid;
        border-width: 0px 1px 1px;
        box-shadow: inset 0 -6px 3px var(--color-shadow-light);
    }

    .replyBar__841c8 {
        border: 1px var(--color-border-light) solid;
        border-width: 1px 1px 0px;
    }

    .themed__9293f,
    .background__1fed1,
    .fieldList__1fed1,
    .replyBar__841c8,
    .member__5d473,
    .container_c8ffbb,
    .members_c8ffbb {
        background: var(--color-bg-light2);
    }

    .member__5d473:hover {
        background: var(--background-modifier-hover-light);
    }

    .popout_cba592 {
        background-color: var(--color-bg-light1);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;

        .horizontalReverse__7c0ba {
            background-color: var(--color-bg-light2);
            border-radius: 0px 0px 8px 8px;
        }
    }

    .peopleListItem_cc6179 {
        background-color: var(--color-bg-light2);
        box-shadow: inset 0 -2px 3px var(--color-shadow-light);

        &:hover {
            background-color: var(--color-bg-light2);
            border: 1px var(--color-border-light) solid;
        }
    }

    .searchBar__5ec2f,
    .searchBar__97492 {
        box-shadow: inset 0 -2px 3px var(--color-shadow-light);
    }

    .itemCard__7e549 {
        background-color: var(--color-bg-light2);

        &:hover {
            background-color: var(--color-bg-light2) !important;
            border: 1px var(--color-border-light) solid;
        }
    }

    .buttonsInner__5126c {
        border: 1px var(--color-border-light) solid;
        background-color: var(--color-bg-light1);
    }

    .searchResultsWrap_a9e706 .container__86c0f {
        background: #f5f1ec;
    }

    .link__972a0,
    .name__2ea32 {
        color: var(--text-color-light) !important;
    }

    .name__20a53,
    .name__2ea32,
    .subtext__972a0,
    .headerText__99e7c,
    .overflow__82b15 {
        text-shadow: 1px 1px 2px var(--color-shadow-light);
    }
}

.unreadMentionsFixedFooter_ef3116 {
    bottom: 0px;
}

[class^=container]>[class^=button]:not(:has([class^=micButton])),
[href="/shop"],
[href="/store"],
.channelAppLauncher_e6e74f,
.toolbar__9293f>*:is(:nth-child(2), :nth-last-child(3), :nth-last-child(2)),
.listItem__650eb:has([data-list-item-id=guildsnav___app-download-button]),
.buttons__74017>*:not(.expression-picker-chat-input-button),
.children__2ea32,
.sectionDivider__629e4 {
    display: none !important;
}

[class^="mosaicItem"]>[class^="wrapperAudio"] {
    &>[class^="audioMetadata"] {
        margin-bottom: 24px;
    }

    &>[class^="audioControls"] {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 0px 0px 8px 8px;
    }
}

.media-engine-video[class*=mirror_] {
    transform: none;
}

div>.avatarDecoration_c19a55,
div>.avatarDecoration__44b0c {
    opacity: 1;
    transition: opacity 0.8s ease;
}

div:hover>.avatarDecoration_c19a55,
div:hover>.avatarDecoration__44b0c {
    opacity: 0;
}

.sidebarResizeHandle_c48ade {
    display: none;
}

.sidebar_c48ade {
    .sidebarList_c48ade {
        border-radius: 0 !important;
        max-width: 101px;
        min-width: 101px;
        transition: all 0.8s 0.2s ease;
    }

    &:hover .sidebarList_c48ade {
        max-width: 300px;
        min-width: 300px;
    }

    .avatarWrapper__37e49 {
        background: none;
        height: 96px;
        border-radius: 32px;
        padding-left: 4px;
        flex: unset;
        gap: unset;
        background-size: 0;
        scale: 1;
        transition: scale 0.5s ease;

        &:hover {
            scale: 1.02;
        }
    }

    .avatarWrapper__37e49:hover {
        background-color: none;
    }

    .avatarWrapper__37e49::before {
        content: "";
        border-radius: 32px;
        background: var(--avatar-wrapper-background);
        background-size: var(--avatar-wrapper-background-size);
        width: 269px;
        height: 95px;
        margin-top: 0;
        margin-left: -1px;
        opacity: 0;
        position: absolute;
        transition: opacity 0.8s 0.2s, scale 1s ease;
    }

    &:hover .avatarWrapper__37e49::before {
        opacity: 1;
    }

    .buttons__37e49 {
        justify-content: center;
        gap: 30px;
        visibility: hidden;
        transform: translateY(-2px);
        transition: visibility 0s 0.2s ease;
    }

    &:hover .buttons__37e49 {
        visibility: visible;
    }

    .avatar__37e49 {
        transform: translate(67px, -700px);
        transition: transform 0.8s 0.2s ease;
    }

    &:hover .avatar__37e49 {
        transform: translate(13px, 24px);
    }

    .avatar__37e49::before {
        content: "";
        height: 64px;
        width: 64px;
        opacity: 1;
        transform: translate(-13px, -13px);
        position: absolute;
        border-radius: 32px;
        transition: opacity 0.9s 0.2s ease;
    }

    &:hover .avatar__37e49::before {
        opacity: 0;
    }

    .panels_c48ade {
        transform: translate(21px, 700px);
        max-width: 288px;
        border-radius: 32px;
        background-color: transparent;
        transition: transform 0.8s 0.2s ease;
    }

    &:hover .panels_c48ade {
        transform: translate(71px, 0px);
    }

    .container__37e49 {
        border-radius: 32px;
        align-items: unset;
        padding: 4px 4px 4px 4px;
        flex-direction: column-reverse;
        gap: 2px;
        margin-right: 1px;
        margin-left: 1px;
    }

    .wrapper_e131a9 {
        margin-left: -7px;
        margin-right: -7px;
    }

    .container_e131a9,
    .panel__5dec7,
    #vc-spotify-player {
        opacity: 0;
        padding: 8px;
        transition: opacity 0.8s 0.2s ease;
    }

    #vc-spotify-player {
        padding: 12px;
    }

    #vc-spotify-album-expanded-wrapper {
        padding: 8px;
    }

    &:hover .container_e131a9,
    &:hover .panel__5dec7,
    &:hover #vc-spotify-player {
        opacity: 1;
    }

    .panels_c48ade:has(.container_e131a9, #vc-spotify-player)>.container__37e49 {
        border-radius: 0 0 32px 32px;
    }

    .panels_c48ade:not(:has(.container_e131a9))>#vc-spotify-player,
    .panel__5dec7,
    .panels_c48ade:not(:has(.panel__5dec7)) .container_e131a9 {
        border-radius: 32px 32px 0 0;
    }

    .panels_c48ade:has(div>.container_e131a9)>#vc-spotify-player,
    .panels_c48ade:has(.panel__5dec7) .container_e131a9 {
        border-radius: 0 0 0 0;
    }

    #vc-spotify-album-image {
        border-radius: 8px;
    }

    .nameTag__37e49 {
        z-index: 1;
        opacity: 0;
        transform: translate(20px, 25px);
        transition: opacity 0.8s 0.2s ease;

        &>div>*,
        .hoverRoll__0263c forceHover__0263c {
            color: rgb(255, 255, 255);
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
        }

        &>* {
            margin-left: -3px;
        }
    }

    &:hover .nameTag__37e49 {
        opacity: 1;
    }

    .list__07f91:is(:not(.collapsed_c3cd7d)) {
        display: block;

        .draggable__55bab {
            transform: translateX(-29px);
            transition: all 0.8s 0.2s ease;
        }
    }

    .list__07f91:is(.collapsed_c3cd7d) {
        display: block;

        .draggable__55bab {
            transform: translateX(-45px);
            scale: 1;
            transition: all 0.8s 0.2s ease;
        }
    }

    .content__07f91>*:not(.userAvatar__55bab) {
        transform: translateX(100px);
        transition: all 0.8s 0.2s ease;
    }

    .moreContainer__55bab {
        width: 7%;
        transform: translateX(-3px);
    }

    &:hover .voiceUser__07f91>.content__07f91>*:not(.userAvatar__55bab),
    &:hover .list__07f91:is(:not(.collapsed_c3cd7d)) .draggable__55bab {
        transform: translateX(0);
    }

    &:hover .list__07f91:is(.collapsed_c3cd7d) .draggable__55bab {
        transform: translateX(30%);
        scale: 1.2;
        padding: 5px;
    }

    .panels_c48ade:not(:has(.panel__5dec7)) {
        .rtcConnectionStatusWrapper__06d62 {
            margin-left: 4px;
            margin-top: 3px;
        }
    }

    .panels_c48ade:has(.panel__5dec7) {
        .rtcConnectionStatusWrapper__06d62 {
            margin-left: 0px;
        }

        .gameWrapper__5dec7 {
            margin-left: 8px;
            margin-top: 3px;
        }
    }

    .subtitle__2ea32 {
        opacity: 0;
        margin-top: -16px;
        transition: all 0.8s 0.2s ease;
    }

    .animatedContainer_f37cb1 {
        background: none;
        box-shadow: none;
        height: 169px;
        transform: translateY(0) !important;
        opacity: 1 !important;
    }

    .channelNotice_e2d7b8 {
        opacity: 0;
        margin-top: -250px;
        transition: opacity 0.8s 0.2s, margin-top 0.8s 0.2s ease;
    }

    .animatedBannerHoverLayer_f37cb1 {
        display: none;
    }

    .container_eff079,
    .content__99f8c>[aria-hidden="true"] {
        display: none;
    }

    .bannerImg_f37cb1 {
        max-width: 102px;
        height: calc(var(--custom-guild-banner-height) - 96px);
        transition: all 0.8s 0.2s ease;
    }

    .bannerImage_f37cb1 {
        transform: translateY(0) scale(1) !important;
    }

    .header_f37cb1 {
        opacity: 0;
        transition: all 0.8s 0.2s ease;
    }

    .container_f37cb1:has(.animatedContainer_f37cb1),
    .animatedContainer_f37cb1 {
        margin-top: 8px;
        transition: all 0.8s 0.2s ease;
    }

    .container_f37cb1:not(:has(.animatedContainer_f37cb1)) {
        opacity: 0;
        margin-top: -35px;
        transition: all 0.8s 0.2s ease;
    }

    &:hover {
        .container_f37cb1:has(.animatedContainer_f37cb1) {
            margin-top: 165px;
        }

        .animatedContainer_f37cb1 {
            margin-top: -165px;
        }

        .bannerImg_f37cb1 {
            max-width: 301px;
            height: 169px;
        }

        .header_f37cb1 {
            opacity: 1;
        }

        .container_f37cb1:not(:has(.animatedContainer_f37cb1)) {
            margin-top: 15px;
            opacity: 1;
        }

        .subtitle__2ea32,
        .channelNotice_e2d7b8 {
            margin-top: 0;
            opacity: 1;
        }
    }

    .scroller__629e4,
    .privateChannels__35e86 {
        margin-bottom: -1080px;
        transition: margin-bottom 0.8s 0.2s;
    }

    &:hover .scroller__629e4 {
        margin-bottom: 9px;
    }

    &:hover .privateChannels__35e86 {
        margin-bottom: 24px;
    }

    .scroller__629e4>.content__99f8c {
        transform: translateX(24px);
        width: 50px;
        transition: all 0.8s 0.2s ease;
    }

    .layout__20a53 {
        transform: translateX(17px);
        width: 0px;
        transition: all 0.8s 0.2s ease;
    }

    .containerDefault__29444 {
        opacity: 0;
        margin-bottom: -40px;
        transition: all 0.8s 0.2s ease;
    }

    .unread__2ea32 {
        transform: translateX(-24px);
        transition: all 0.8s 0.2s ease;
    }

    .linkBottom__2ea32 {
        color: var(--text-color-dark);
    }

    &:hover {
        .scroller__629e4>.content__99f8c {
            transform: translateX(0);
            width: 100%;
        }

        .containerDefault__29444 {
            opacity: 1;
            margin-bottom: 0;
        }

        .unread__2ea32 {
            transform: translateX(0);
        }

        .layout__20a53 {
            transform: translateX(0);
            width: 100%;
            transition: all 0.8s 0.2s ease;
        }
    }

    .privateChannels__35e86 {
        transform: translateY(-40px);
        transition: all 0.8s 0.2s ease;
    }

    .privateChannelsHeaderContainer__99e7c {
        opacity: 0;
        margin-top: -30px;
        transition: all 0.8s 0.2s ease;
    }

    .searchBar__35e86 {
        display: none;
    }

    .sectionDivider__35e86 {
        opacity: 0;
    }

    &:hover {
        .privateChannels__35e86 {
            transform: translateY(25px);
        }

        .privateChannelsHeaderContainer__99e7c {
            margin-top: 0px;
            opacity: 1;
        }
    }

    .modeSelected__2ea32 .link__2ea32::before,
    .modeSelected__2ea32:hover .link__2ea32::before {
        content: "";
        width: 37px;
        background: var(--background-modifier-selected);
        border-radius: 8px;
        transition: all 0.8s 0.2s ease;
    }

    &:hover .modeSelected__2ea32 .link__2ea32::before,
    .modeSelected__2ea32:hover .link__2ea32::before {
        width: 280px;
    }
}

.chat_f75fb0 {
    .title_f75fb0 {
        margin-top: -98px;
        transition: all 0.8s 0.2s ease;
    }

    .container_c8ffbb {
        max-width: 68px;
        transition: max-width 0.8s 0.2s;

        .membersGroup_c8ffbb {
            opacity: 0;
            margin-bottom: -35px;
            transition: all 0.8s 0.2s ease;
        }

        .wrapper__44b0c {
            transform: translateX(-5px);
            transition: all 0.8s 0.2s ease;
        }

        &:hover {
            max-width: 240px;

            .membersGroup_c8ffbb {
                opacity: 1;
                margin-bottom: 0;
            }

            .wrapper__44b0c {
                transform: translateX(0);
            }
        }
    }
}

.container_c48ade:hover .title_f75fb0 {
    margin-top: 0;
}

.content_f75fb0>.outer_c0bea0,
.nowPlayingColumn__133bf {
    transition: margin-right 1s, max-width 1.5s ease;
}

.headerFull__00943>*:not(.wrapper__44b0c, .headerIcon__00943) {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.headerIcon__00943 {
    transform: translateX(-15px);
    scale: 1.4;
    transition: all 1.5s ease;
}

.content_f75fb0>.outer_c0bea0 {
    max-width: 200px;
    min-width: 200px;
    margin-right: -200px;

    .container__8061a {
        opacity: 0;
        margin-top: -30px;
        transition: all 1.5s ease;
    }

    &:hover {
        .container__8061a {
            opacity: 1;
            margin-top: 0;
        }
    }

    .overlay__325ce {
        opacity: 0;
        transition: all 1.5s ease;
    }

    &:hover {
        .overlay__325ce {
            opacity: 1;
        }
    }

    .container_ab8609 {
        opacity: 0;
        transition: all 1.5s ease;
    }

    &:hover {
        .container_ab8609 {
            opacity: 1;
        }
    }

    .activitySection__00943>*:not(.activitySectionAssets__00943),
    .details__39ec2 {
        opacity: 0;
        transition: all 1.5s ease;
    }

    .actions__39ec2 {
        opacity: 0;
        transition: all 1.5s ease;
    }

    .imagePosition_ef9ae7 {
        scale: 1.7;
        transform: translate(24px, 12px);
        transition: all 1.5s ease;
    }

    &:hover .imagePosition_ef9ae7 {
        scale: 1;
        transform: translate(0, 0);
    }

    .card__747b1 {
        padding-bottom: 55px;
        transition: all 1.5s ease;
    }

    &:hover .card__747b1 {
        padding-bottom: 12px;
    }
}

.nowPlayingColumn__133bf {
    max-width: 150px;
    min-width: 150px;
    margin-right: -150px;

    .section__00943 {
        width: 32px;
        margin-left: 12px;
        transition: all 1.5s ease;
    }

    &:hover .section__00943 {
        width: 88.5%;
        margin-left: 0;
    }

    .activitySection__00943>*:not(.activitySectionAssets__00943),
    .details__39ec2 {
        opacity: 0;
        transition: all 1.5s ease;
    }
}

.content_f75fb0>.outer_c0bea0:hover .actions__39ec2,
.content_f75fb0>.outer_c0bea0:hover .details__39ec2,
.nowPlayingColumn__133bf:hover .activitySection__00943>*:not(.activitySectionAssets__00943) {
    opacity: 1;
}

.content_f75fb0>.outer_c0bea0:hover,
.nowPlayingColumn__133bf:hover {
    max-width: 300px;
}

.nowPlayingColumn__133bf:hover .headerIcon__00943,
.nowPlayingColumn__133bf:hover .headerFull__00943>*:not(.wrapper__44b0c, img) {
    opacity: 1;
    transform: translateX(0px);
}

.container_c48ade:hover .content_f75fb0>.outer_c0bea0,
.container_c48ade:hover .nowPlayingColumn__133bf,
.headerFull__00943>*:not(.wrapper__44b0c, img) {
    margin-right: 0;
}

.repliedTextPreview_c19a55 {
    padding-right: 25px;
}

[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;

    &+[class^="viewFullBio_"] {
        display: none;
    }
}

[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
}

[class^=userPopoutInner_]>[class^=body_] {
    overflow-y: auto;
}

[class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid var(--scrollbar-thin-track);
        background-color: var(--scrollbar-thin-track);
        border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--profile-body-divider-color);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
    }
}

.chatContent_f75fb0 {
    max-width: 100%;
}

.membersGroup_c8ffbb:has([role=button]),
.refreshVoiceChannelsButton__29444,
.bar__7aaec {
    display: none;
}

.icon_f8fa06 {
    margin-left: 1px;
}

body,
.appMount__51fd7,
.app__160d8,
.bg__960e4,
.sidebar_c48ade,
.layer__960e4,
.container__2637a,
.guilds_c48ade,
.privateChannels__35e86,
.scroller__99e7c,
.sidebar_c48ade:after {
    background: var(--app-background) !important;
}

[class^=headerEllipse],
.headerGlass_f37cb1 {
    display: none;
}

.wrapper_ef3116 {
    margin-bottom: unset;
}

.peopleListItem_cc6179 {
    border-radius: 8px;
    margin: 15px 2px 15px 23px;
    transition: all 0.8s ease !important;

    &:hover {
        margin: 15px 17px 15px 38px !important;
    }

    .listItemContents_fc004c {
        padding: 10px;
    }
}

.itemCard__7e549 {
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    transition: all 0.8s ease;

    &:hover {
        border-radius: 8px;
        margin: 10px 15px 10px 15px;
    }
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: none;
}

.visual-refresh nav:has([data-list-id="guildsnav"]) {
    margin-bottom: unset;
}

.wrapper__2ea32:hover .link__2ea32 {
    background: none;
}


.linkTop__2ea32 {
    transform: translateX(2px);
}

.avatar__20a53 {
    transform: translateX(3px);
}

.interactive_bf202d {
    max-width: 99%;
}

.container_b7e1cb+.buttonContainer_c19a55>.buttons__5126c {
    top: -27px;
}

.searchResultsWrap_a9e706 .container__86c0f:has(.pageControlContainer_c15210) {
    position: sticky;
    bottom: 0px;
    z-index: 999;
}

.notice__6e2b9 {
    border-radius: 8px 8px 8px;
    margin: 5px 3px 5px 3px;
}

.item_c1e9c4,
.item__133bf,
interactive_bf202d {
    border-radius: 8px !important;
}

.newMessagesBar__0f481 {
    backdrop-filter: blur(1rem);
}

.colorable_f1ceac {
    background: var(--color-accent-button) !important;
}

@property --opacity {
    syntax: '<number>';
    initial-value: 1;
    inherits: false;
}

.numberBadge__2b1f5 {
    background-color: transparent !important;
}

.lowerBadge_cc5dd2::before {
    content: "";
    width: 100%;
    height: 100%;
    padding: 1px;
    top: -1px;
    right: -1px;
    background-color: var(--status-danger);
    position: absolute;
    z-index: -1;
    border-radius: 32px;
    opacity: var(--opacity);
    animation: 3s opacity linear infinite;
}

.lowerBadge_cc5dd2::before {
    filter: blur(3px);
    opacity: var(--opacity);
}

@keyframes opacity {
    0% {
        --opacity: 1;
    }

    50% {
        --opacity: 0.1;
    }

    100% {
        --opacity: 1;
    }
}

.reactions__23977 {
    max-width: 70%;
    min-width: 70%;
}

body:not(:has(div>.titlebar)) .bar_c38106 {
    width: 72px !important;
    height: 72px !important;
    padding-left: 0;
    margin-left: -4px;
    gap: 0;
}

.title__85643 {
    display: none !important;
}

.trailing_c38106 {
    margin-right: 6px;
}

.winButtons_c38106 {
    margin-top: 36px;
    gap: 7px;
    flex-direction: row;
}

.winButton_c38106 svg {
    display: none;
}

.app-focused .winButtons_c38106:hover .winButton_c38106 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.winButton_c38106 {
    border-radius: 8px;
    width: 12px;
    height: 12px;
    background-color: var(--background-primary);
}

.trailing_c38106>*:not(.winButtons_c38106) {
    display: none;
}

.app-focused .winButtonClose_c38106 {
    background-color: #ff5c57;
    order: 1;
}

.app-focused .winButtonClose_c38106:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.app-focused .winButtonMinMax_c38106:nth-child(1n) {
    order: 2;
    background-color: #fdbd3d;
}

.app-focused .winButtonMinMax_c38106:nth-child(1n):hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

.app-focused .winButtonMinMax_c38106:nth-child(2n) {
    order: 3;
    background-color: #26c84b;
}

.app-focused .winButtonMinMax_c38106:nth-child(2n):hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

.sidebarList_c48ade {
    margin-top: -16px;
}

.base_c48ade,
.contentTransitionWrap__23e6b {
    margin-top: -37px;
}

.guilds_c48ade {
    margin-top: 37px;
}

.base_c48ade:has(.notice__6e2b9) .sidebarList_c48ade {
    margin-top: 0px;
}

.clipContainer__841c8 {
    padding-top: 0;
}

.stackedBars__74017 {
    border: none !important;
}

.base_c48ade:has(.notice__6e2b9) {

    .container_f37cb1:has(.animatedContainer_f37cb1),
    .animatedContainer_f37cb1 {
        margin-top: 0px;
        transition: all 0.8s 0.2s ease;
    }

    .container_f37cb1:not(:has(.animatedContainer_f37cb1)) {
        margin-top: -50px;
        opacity: 1;
    }

    .sidebar_c48ade:hover {
        .container_f37cb1:has(.animatedContainer_f37cb1) {
            margin-top: 165px;
        }

        .animatedContainer_f37cb1 {
            margin-top: -165px;
        }

        .container_f37cb1:not(:has(.animatedContainer_f37cb1)) {
            margin-top: 0;
            opacity: 1;
        }
    }
}

/* legcord compatibility (use with default (custom) titlebar) */

.window-title {
    display: none;
}

.titlebar {
    width: 70px;
}

#window-controls-container {
    float: left !important;
    scale: 0.6;
    display: flex;
    margin-left: -13px;
    width: 100px !important;
}

.app-focused #window-controls-container [id*=-icon]{
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

#window-controls-container {
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

#quit-icon,
#minimize-icon,
#maximize-icon  {
    mask: none !important;
    background-color: var(--background-primary) !important;
}

.app-focused #quit-icon  {
    background-color: #ff5c57 !important;
    mask: none !important;
}

#quit {
    order: 1 !important;
}

#minimize {
    order: 2 !important;
}

#maximize {
    order: 3 !important;
}

.app-focused #quit-icon:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.app-focused #minimize-icon {
    background-color: #fdbd3d !important;
    mask: none !important;
}

.app-focused #minimize-icon:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

.app-focused #maximize-icon {
    mask: none !important;
    background-color: #26c84b !important;
}

.app-focused #maximize-icon:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

body:has(div>.titlebar) .appMount__51fd7 {
    height: 100% !important;
}
