* {
    font-family: inter;
}

.theme-dark {
    --background-accent: var(--background-accent-dark);
    --background-modifier-selected: var(--color-accent-button);
    --background-modifier-hover: var(--background-modifier-hover-dark);
    --background-modifier-active: var(--color-accent-button-hover);
    --channeltextarea-background: var(--color-bg-dark2);
    --background-primary: var(--color-bg-dark1);
    --background-floating: var(--color-bg-dark2);
    --background-secondary: var(--background-opacity-dark);
    --background-secondary-alt: var(--color-bg-dark2);
    --background-tertiary: var(--color-bg-dark2);
    --channels-default: var(--text-color-dark);
    --channel-icon: var(--color-channel-icon);
    --interactive-normal: var(--text-color-dark);
    --menu-item-default-hover-bg: var(--color-accent-button);
    --menu-item-default-active-bg: var(--color-accent-button-hover);
    --button-filled-brand-background: var(--color-accent-button);
    --button-filled-brand-background-hover: var(--color-accent-button-hover);
    --brand-500: var(--color-accent-button);
    --brand-experiement-560: var(--color-accent-button);
    --brand-experiement-500: var(--color-accent-button);
    --primary-500: var(--color-accent-button);
    --primary-860: invert(1);

    [class^=content]>[class^=container_]>[class*=container_] {
        box-shadow: inset 0 0 7px var(--color-shadow-dark);
    }

    [class^=focusLock]>[class^=container_] {
        box-shadow: 1px 1px 5px #525252;
        border-radius: 8px;

        [class^=inviteSplash] {
            border: var(--color-border-dark) solid;
            border-radius: 0px 8px 8px 0px;
            border-width: 1px 1px 1px 0px;
        }

        &>[class^=content_] {
            background-color: var(--color-bg-dark2);
            border: var(--color-border-dark) solid;
            border-radius: 8px 8px 8px 8px;
            border-width: 1px 1px 1px 1px;
            box-shadow: inset 0 0 7px var(--color-shadow-dark);
            transform: scale(1.02) translateX(-2px);
        }
    }

    [class^=root_]>div>[class*=card_] {
        background-color: var(--color-bg-dark2);
    }

    [class^=panels] {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 1px;
    }

    #vc-spotify-player {
        background-color: var(--color-panel-dark);
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 1px;
    }

    [class^=panels]>[class^=panel_],
    [class^=panels]>[class^=container_],
    [class^=panels]:has([class^=panel_])>[class^=wrapper_]>[class^=container_],
    [class^=panels]:not(:has([class^=panel_]))>[class^=wrapper_]>[class^=container_] {
        background-color: var(--color-panel-dark);
    }

    [class^=chat_] {
        [class^=title] {
            background-color: var(--color-bg-dark2);
            box-shadow: inset 0 0 7px var(--color-shadow-dark);
        }
    }

    [class^=messagesPopoutWrap] {
        background-color: var(--color-bg-dark1) !important;
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    [role="menu"] {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
    }

    [class^=submenu_] {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px;
        margin-left: 3px;
    }

    [class^=channelTextArea_]:not(:has([class^=stacked]))>[class^=scrollableContainer],
    [class^=form_]>[class^=wrapper] {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 1px;
    }

    [class^=jumpToPresentBar] {
        background-color: var(--color-bg-dark2) !important;
        border: 1px var(--color-border-dark) solid;
        width: 360px;
        backdrop-filter: blur(1rem);
    }

    [class^=channelTextArea_]:has([class^=stacked])>[class^=scrollableContainer] {
        border: var(--color-border-dark) solid;
        border-width: 0px 1px 1px;
    }

    [class^=stackedBars]>div>div>div>[class^=replyBar_] {
        border: var(--color-border-dark) solid;
        border-width: 1px 1px 0px;
    }

    [class^=container_]>[class^=theme-],
    [class^=member],
    [class^=background_]>[class^=fieldList_],
    [class^=accountProfile]>[class^=background_],
    [class^=chat_]>[class^=content]>[class^=container_],
    [class^=container]>[class^=reply],
    [class^=nowPlayingColumn]>[class^=container_] {
        background-color: var(--color-bg-dark2);
    }

    [class^=popout] {
        background-color: var(--color-bg-dark1);
        border: 1px var(--color-border-dark) solid;

        &>[class^=flex_]:not([id^=":"]) {
            background-color: var(--color-bg-dark1);
            border-radius: 0px 0px 8px 8px;
        }
    }

    [class^=peopleListItem_] {
        background-color: var(--color-bg-dark2);
        box-shadow: inset 0 0 7px var(--color-shadow-dark);

        &:hover {
            background-color: var(--color-bg-dark2);
            border: 1px var(--color-border-dark) solid;
        }
    }

    [class^=scroller_]>[class^=itemCard] {
        background-color: var(--color-bg-dark2);

        &:hover {
            background-color: var(--color-bg-dark2) !important;
            border: 1px var(--color-border-dark) solid;
        }
    }

    [class^=buttons]>[class^=buttonsInner] {
        border: 1px var(--color-border-dark) solid;
        background-color: var(--color-bg-dark2);
    }

    [class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]) {
        background: #0f0f10;
    }

    [class^=focusLock]>[class^=root_] {
        border: 1px var(--color-border-dark) solid;
        border-radius: 8px 8px 8px 8px;

        &>[class^=content]:not([class*=vcd-screen-picker-modal], [type="button"]>*) {
            background: var(--color-bg-dark2);
            border-radius: 8px 8px 0px 0px;
            box-shadow: inset 0 0 7px var(--color-shadow-dark);
        }

        [class*=content]:is([class*=vcd-screen-picker-modal]) {
            background: var(--color-bg-dark2);
            border-radius: 0px 0px 0px 0px;
            box-shadow: inset 0 0 7px var(--color-shadow-dark);
        }

        [class*=vcd-screen-picker-header] {
            background: var(--color-bg-dark1) !important;
            border-radius: 8px 8px 0px 0px !important;
        }

        [class*=vcd-screen-picker-option]:not([data-checked="true"]),
        section>[class^=select__] {
            background: var(--color-bg-dark1)
        }

        [class*=vcd-screen-picker-modal] {
            background: var(--color-bg-dark1);
            border-radius: 8px 8px 0px 0px;
        }

        [class*=horizontalReverse_] {
            background: var(--color-bg-dark1);
            border-radius: 0px 0px 8px 8px;
        }

        /*[class*=horizontal_]:not([class*=footer], [class*=header]) {
            background: var(--color-bg-dark1);
            border-radius: 8px 8px 0px 0px;
        }*/

        [class*=horizontal_]:is([class*=footer]) {
            background: var(--color-bg-dark1);
            border-radius: 0px 0px 8px 8px;
        }

        [class*=horizontal_]:is([class*=header]) {
            background: var(--color-bg-dark1);
            border-radius: 8px 8px 0px 0px;
        }
    }
}

.theme-light {
    --background-accent: var(--background-accent-light);
    --background-modifier-selected: var(--color-accent-button);
    --background-modifier-hover: var(--background-modifier-hover-light);
    --background-modifier-active: var(--color-accent-button-hover);
    --channeltextarea-background: var(--color-bg-light2);
    --background-primary: var(--color-bg-light1);
    --background-floating: var(--color-bg-light2);
    --background-secondary: var(--background-opacity-light);
    --background-secondary-alt: var(--color-bg-light2);
    --background-tertiary: var(--color-bg-light2);
    --channels-default: var(--text-color-light);
    --channel-icon: var(--color-channel-icon);
    --interactive-normal: var(--text-color-light);
    --menu-item-default-hover-bg: var(--color-accent-button);
    --menu-item-default-active-bg: var(--color-accent-button-hover);
    --button-filled-brand-background: var(--color-accent-button);
    --button-filled-brand-background-hover: var(--color-accent-button-hover);
    --brand-500: var(--color-accent-button);
    --brand-experiement-560: var(--color-accent-button);
    --brand-experiement-500: var(--color-accent-button);
    --primary-500: var(--color-accent-button);
    --primary-860: invert(1);

    [class^=content]>[class^=container_]>[class*=container_] {
        box-shadow: inset 0 0 7px var(--color-shadow-light);
    }

    [class^=focusLock]>[class^=container_] {
        box-shadow: 1px 1px 5px #000000;
        border-radius: 8px;

        [class^=inviteSplash] {
            border: var(--color-border-light) solid;
            border-radius: 0px 8px 8px 0px;
            border-width: 1px 1px 1px 0px;
        }

        &>[class^=content_] {
            background-color: var(--color-bg-light1);
            border: var(--color-border-light) solid;
            border-radius: 8px 8px 8px 8px;
            border-width: 1px 1px 1px 1px;
            box-shadow: inset 0 0 7px var(--color-shadow-light);
            transform: scale(1.02) translateX(-2px);
        }
    }

    [class^=root_]>div>[class*=card_] {
        background-color: var(--color-bg-light2);
    }

    [class^=panels] {
        border: var(--color-border-light) solid;
        border-width: 1px 1px 1px;
    }

    #vc-spotify-player {
        background-color: var(--color-panel-light);
        border: var(--color-border-light) solid;
        border-width: 1px 1px 1px;
    }

    [class^=panels]>[class^=container_],
    [class^=panels] [class^=panel_],
    [class^=panels]:has([class^=panel_])>[class^=wrapper_]>[class^=container_],
    [class^=panels]:not(:has([class^=panel_]))>[class^=wrapper_]>[class^=container_] {
        background-color: var(--color-panel-light);
    }

    [class^=chat_] {
        [class^=title] {
            background-color: var(--color-bg-light2);
            box-shadow: inset 0 0 7px var(--color-shadow-light);
        }
    }

    [class^=messagesPopoutWrap] {
        background-color: var(--color-bg-light1) !important;
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
    }

    [role="menu"] {
        border: 1px var(--color-border-light) solid;
        background-color: var(--color-bg-light2);
        border-radius: 8px;

        [role=menuitem]:not([class*=colorDanger]) [class^=label_] {
            color: var(--text-color-light);
        }
    }

    [class^=submenu_] {
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;
        margin-left: 3px;
    }

    [class^=channelTextArea_]:not(:has([class^=stackedBars]))>[class^=scrollableContainer],
    [class^=form_]>[class^=wrapper] {
        border: 1px var(--color-border-light) solid;
        border-width: 1px 1px 1px;
    }

    [class^=jumpToPresentBar] {
        background-color: var(--color-bg-light2) !important;
        border: 1px var(--color-border-light) solid;
        width: 360px;
        backdrop-filter: blur(1rem);
    }

    [class^=channelTextArea_]:has([class^=stacked])>[class^=scrollableContainer] {
        border: 1px var(--color-border-light) solid;
        border-width: 0px 1px 1px;
    }

    [class^=stackedBars]>div>div>div>[class^=replyBar_] {
        border: 1px var(--color-border-light) solid;
        border-width: 1px 1px 0px;
    }

    [class^=container_]>[class^=theme-],
    [class^=member],
    [class^=background_]>[class^=fieldList_],
    [class^=accountProfile]>[class^=background_],
    [class^=chat_]>[class^=content]>[class^=container_],
    [class^=container]>[class^=reply],
    [class^=nowPlayingColumn]>[class^=container_] {
        background-color: var(--color-bg-light2);
    }

    [class^=popout] {
        background-color: var(--color-bg-light1);
        border: 1px var(--color-border-light) solid;
        border-radius: 8px;

        &>[class^=flex_]:not([id^=":"]) {
            background-color: var(--color-bg-light2);
            border-radius: 0px 0px 8px 8px;
        }
    }

    [class^=peopleListItem_] {
        background-color: var(--color-bg-light2);
        box-shadow: inset 0 0 7px var(--color-shadow-light);

        &:hover {
            background-color: var(--color-bg-light2);
            border: 1px var(--color-border-light) solid;
        }
    }

    [class^=scroller_]>[class^=itemCard] {
        background-color: var(--color-bg-light2);

        &:hover {
            background-color: var(--color-bg-light2) !important;
            border: 1px var(--color-border-light) solid;
        }
    }

    [class^=buttons]>[class^=buttonsInner] {
        border: 1px var(--color-border-light) solid;
        background-color: var(--color-bg-light1);
    }

    [class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]) {
        background: #f5f1ec;
    }

    [class^=focusLock]>[class^=root_] {
        border: 1px var(--color-border-light) solid;
        border-radius: 8px 8px 8px 8px;

        &>[class^=content]:not([class*=vcd-screen-picker-modal], [type="button"]>*) {
            background: var(--color-bg-light1);
            border-radius: 8px 8px 0px 0px;
            box-shadow: inset 0 0 7px var(--color-shadow-light);
        }

        [class^=content]:is([class*=vcd-screen-picker-modal]) {
            background: var(--color-bg-light1);
            border-radius: 0px 0px 0px 0px;
            box-shadow: inset 0 0 7px var(--color-shadow-light);
        }

        [class*=vcd-screen-picker-header] {
            background: var(--color-bg-light2) !important;
            border-radius: 8px 8px 0px 0px !important;
        }

        [class*=vcd-screen-picker-option]:not([data-checked="true"]),
        section>[class^=select__] {
            background: var(--color-bg-light2)
        }

        [class*=horizontalReverse_] {
            background: var(--color-bg-light2);
            border-radius: 0px 0px 8px 8px;
        }

        /*[class*=horizontal_]:not([class*=footer], [class*=header]) {
            background: var(--color-bg-light1);
            border-radius: 8px 8px 0px 0px;
        }*/

        [class*=horizontal_]:is([class*=footer]) {
            background: var(--color-bg-light1);
            border-radius: 0px 0px 8px 8px;
        }

        [class*=horizontal_]:is([class*=header]) {
            background: var(--color-bg-light1);
            border-radius: 8px 8px 0px 0px;
        }
    }
}

[class*=unreadMentionsFixedFooter_] {
    bottom: 0px;
}

[class^=footer_]:has([class*=discoveryIcon_]) {
    display: none;
}

[class^=typeWindows_] {
    width: 60px !important;
    z-index: 102;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 1px;
    margin: 0;
    padding-top: 12px;
    padding-right: 9px;
    padding-left: 3px;
    -webkit-app-region: drag;
    background: transparent;
}

[class^=wordmark] {
    display: none;
}

[class^=winButton] {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

[class^=winButton] svg {
    display: none;
}

[class*=app-focused] [class^=typeWindows]:hover>[class^=winButton] {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

[class*=app-focused] [class^=winButtonClose] {
    background-color: #ff5c57;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

[class*=app-focused] [class^=winButtonMinMax]:nth-child(2n) {
    background-color: #fdbd3d;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

[class*=app-focused] [class^=winButtonMinMax]:nth-child(3n) {
    order: 3;
    background-color: #26c84b;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

[class*=guilds_] {
    margin-top: 29px;
}

.expression-picker-chat-input-button:not(:last-child):not([class^=buttons]:has([class^=separator])>.expression-picker-chat-input-button:nth-last-child(2)),
[class^=container]>[class^=button],
[href="/shop"],
[href="/store"],
[class^=channelAppLauncher]>div>[class^=button_],
[class^=toolbar_]>*:is(:nth-child(2), :nth-last-child(3), :nth-last-child(2)),
[class^=linkTop]>[class^=children],
[data-list-item-id^=guildsnav___app] {
    display: none;
}

[class^="mosaicItem"]>[class^="wrapperAudio"] {
    &>[class^="audioMetadata"] {
        margin-bottom: 24px;
    }

    &>[class^="audioControls"] {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 0px 0px 8px 8px;
    }
}

.media-engine-video[class*=mirror_] {
    transform: none;
}

[class^=wrapper],
[class^=contents] {
    [class^=avatarDecoration] {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.3s, opacity 0.3s ease;
    }

    &:hover>[class^=avatarDecoration] {
        opacity: 0;
        visibility: hidden;
    }
}

[class^=sidebar] {
    border-radius: 0 !important;

    &:not([class^=sidebarRegionScroller]>[class^=sidebar_], [class^=sidebarRegion]) {
        max-width: 72px;
        transition: max-width 0.6s 0.2s ease;

        &:hover {
            max-width: 240px;
        }
    }

    [class^=avatarWrapper] {
        margin-top: -72px;
        background: var(--avatar-wrapper-background);
        background-size: 0;
        transition: transform 0.6s, opacity 1s, margin-top 0.3s 0.2s, background-size 0s 0.2s ease;
        border-radius: 32px;
        margin-right: unset;
        margin-left: unset;
        padding-left: 4px;

        & {
            transform: scale(1);

            &>[class^=wrapper_] {
                opacity: 1;
            }
        }
    }

    &:hover [class^=avatarWrapper] {
        margin-top: 0;
        background-size: var(--avatar-wrapper-background-size);

        &:hover {
            transform: scale(1.02);

            &>[class^=wrapper_] {
                opacity: 0.1;
            }
        }
    }

    [class^=panels]>[class^=container]>[class^=flex] {
        visibility: hidden;
        opacity: 0;
        justify-content: center;
        gap: 30px;
        transition: visibility 0.3s 0.2s, opacity 0.2s 0.2s, gap 0.2s 0.2s linear;
    }

    &:hover [class^=panels]>[class^=container]>[class^=flex] {
        visibility: visible;
        opacity: 1;
    }

    [class^=avatarWrapper]>[class^=wrapper] {
        margin-left: -3px;
        margin-top: 37px;
        scale: 0.9;
        transition: all 0.2s 0.2s linear;
    }

    &:hover [class^=avatarWrapper]>[class^=wrapper] {
        margin-left: 5px;
    }

    [class^=panels] {
        margin: 0 12px 4px 16px;
        border-radius: 32px;
        background-color: transparent;
        box-shadow: 1px 1px 5px #000000;
        transition: margin 0.3s 0.2s, border-radius 0.1s 0.2s ease;
    }

    &:hover>[class^=panels] {
        margin: 0 2px 4px 5px;
    }

    [class^=panels]>[class^=container_] {
        height: unset;
        border-radius: 32px;
        align-items: unset;
        padding: 4px 4px 4px 4px;
        flex-direction: column-reverse;
        gap: 2px;
        transition: border-radius 0.2s 0.2s, padding 0.2s 0.2s, border-radius 0.1s 0.2s ease;
    }

    [class^=panels]>div>[class^=container_] {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        margin-top: -75px;
        transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, margin-top 0.3s 0.2s, padding 0.3s 0.2s, border 0s 0.2s, border-radius 0.1s 0.2s ease;
    }

    [class^=panels]>[class^=panel_] {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        margin-top: -34px;
        transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, margin-top 0.3s 0.2s, padding 0.3s 0.2s, border 0s 0.2s, border-radius 0.1s 0.2s ease;  
    }

    #vc-spotify-player {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        margin-top: -122px;
        transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, margin-top 0.3s 0.2s, padding 0.3s 0.2s, border 0s 0.2s, border-radius 0.1s 0.2s ease;
    }

    #vc-spotify-album-expanded-wrapper {
        margin-top: 10.5px;
        transition: margin-top 0s 0.2s;
    }

    &:hover [class^=panels]>div>[class^=container_],
    &:hover [class^=panels]>[class^=panel_],
    &:hover #vc-spotify-player {
        visibility: visible;
        opacity: 1;
        padding: 8px;
        margin-top: 0;
        border: 0 #00000000 solid;
    }

    &:hover [class^=panels]:has(div>[class^=container_], #vc-spotify-player)>[class^=container_] {
        border-radius: 0 0 32px 32px;
    }

    &:hover [class^=panels]:not(:has([class^=panel_]))>div>[class^=container_] {
        border-radius: 32px 32px 0 0;
    }

    &:hover [class^=panels]:has([class^=panel_])>div>[class^=container_] {
        border-radius: 0 0 0 0;
    }

    &:hover [class^=panels]:not(:has(div>[class^=container]))>#vc-spotify-player {
        border-radius: 32px 32px 0 0;
    }

    &:hover [class^=panels]:has(div>[class^=container])>#vc-spotify-player {
        border-radius: 0 0 0 0;
    }

    &:hover [class^=panels]>[class^=panel_] {
        border-radius: 32px 32px 0 0;
    }

    #vc-spotify-album-image {
        border-radius: 8px;
    }

    [class^=nameTag_] {
        visibility: hidden;
        opacity: 0;
        margin-top: 33px;
        margin-left: -4px;
        margin-right: 15px;
        transition: visibility 0.1s 0.2s, opacity 0.2s 0.2s, margin-left 0.1s 0.2s ease;

        &>div>* {
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
    }

    &:hover [class^=nameTag_] {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
    }

    [class^=containerDefault_]>[class^=list_] {
        [class^=draggable] {
            margin-left: -30px;

            [class^=content]>*:not([class^=userAvatar]) {
                margin-left: 100px;
                transition: margin-left 0.6s 0.2s ease;
            }
        }
    }

    &:hover [class^=draggable]>[class^=voiceUser]>[class^=content]>*:not([class^=userAvatar]) {
        margin-left: 0;
    }

    [class^=panels_]:not(:has([class^=panel_])) {
        [class^=rtcConnectionStatus__] {
            margin-left: 5px;
            margin-top: 3px;
        }
    }

    [class^=panels_]:has([class^=panel_]) {
        [class^=rtcConnectionStatus__] {
            margin-left: 0px;
        }

        [class^=gameWrapper__] {
            margin-left: 5px;
            margin-top: 3px;
        }
    }

    [class^=container] {
        [class^=linkBottom] [class^=text-xs] {
            visibility: hidden;
            opacity: 0;
            margin-top: -16px;
            transition: all 0.4s 0.2s ease;
        }

        li>[class^=container_] {
            visibility: hidden;
            opacity: 0;
            margin-top: -69px;
            transition: visibility 0.3s 0.2s, opacity 0.4s 0.2s, margin-top 0.5s 0.2s ease;
        }

        &:hover [class^=linkBottom] [class^=text-xs] {
            visibility: visible;
            margin-top: 0;
            opacity: 1;
        }

        [class^=animated] {
            background: none;
            margin-top: 100px;
            box-shadow: none;
            transition: margin-top 1s 0.2s ease;
        }

        [class^=bannerImg_] {
            max-width: 72px;
            height: auto;
            transition: max-width 0.8s 0.2s, height 1s 0.2s ease;
        }

        [class^=container_]:has([class^=animated]) {
            margin-top: -100px;
            transition: margin-top 1s 0.2s ease;
        }

        &:not(:has([class^=animated]))>[class^=container_]:not(:has(div>div>li>[class^=container_])) {
            visibility: hidden;
            opacity: 0;
            margin-top: -25px;
            transition: visibility 0.7s 0.2s, opacity 0.8s 0.2s, margin-top 0.6s 0.2s ease;
        }
    }

    &:hover>[class^=container_] {

        [class^=bannerImg_],
        [class^=animated],
        [class^=container_]:has([class^=animated]) {
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
            max-width: 240px;
        }

        &:hover:not(:has([class^=animated]))>[class^=container_]:not(:has(div>div>li>[class^=container_])) {
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
        }
    }

    & [id="channels"]>[class^=content] {
        margin-left: 7px;
        width: 50px;
        transition: margin-left 0.6s 0.2s, width 0.6s 0.2s ease;

        [class^=containerDefault__] {
            opacity: 0;
            margin-bottom: -40px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover [id="channels"]>[class^=content] {
        margin-left: 0;
        width: 240px;

        [class^=containerDefault__] {
            opacity: 1;
            margin-bottom: 0;
        }
    }

    [class^=privateChannels__] {
        margin-top: -100px;
        transition: margin-top 0.8s 0.2s ease;

        [class^=privateChannelsHeader] {
            opacity: 0;
            margin-bottom: -40px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }
    }

    &:hover [class^=privateChannels__] {
        margin-top: -50px;

        [class^=privateChannelsHeader] {
            margin-bottom: 0px;
            opacity: 1;
        }
    }
}

[class^=notAppAside]:hover:not([class^=sidebar_], [class^=wrapper]) [class^=title_] [class^=titleWrapper] {
    margin-top: 0;
}

[class^=clickTrap],
[class^=backdrop__] {
    pointer-events: none !important;
}

[class^=chat_] {
    [class^=title] {
        margin-top: -98px;
        transition: margin-top 0.8s 0.2s ease;
    }

    &:hover {
        [class^=title] {
            margin-top: 0;
        }
    }

    [class^=container_]:has([class^=membersWrap]) {
        max-width: 60px;
        transition: max-width 0.6s 0.2s;

        [class^=membersGroup_],
        [class^=membersGroup_] {
            opacity: 0;
            margin-bottom: -35px;
            transition: opacity 1s 0.2s, margin-bottom 0.7s 0.4s ease;
        }

        &:hover {
            max-width: 240px;

            [class^=membersGroup_],
            [class^=membersGroup_] {
                opacity: 1;
                margin-bottom: 0;
            }
        }
    }
}

[class^=tabBody],
[class^=content] {

    [class^=nowPlayingColumn],
    &>[class^=outer_] {
        margin-right: -30%;
        max-width: 30%;
        transition: margin-right 0.7s 0.2s ease;
    }

    &:hover>[class^=nowPlayingColumn],
    &:hover>[class^=outer_] {
        margin-right: 0;
    }
}

[class^=repliedTextContentTrailingIcon_] {
    position: absolute;
    right: 0;
    pointer-events: none;
}

[class^=repliedTextPreview_] {
    padding-right: 25px;
}

[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;

    &+[class^="viewFullBio_"] {
        display: none;
    }
}

[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
}

[class^=userPopoutInner_]>[class^=body_] {
    overflow-y: auto;
}

[class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid var(--scrollbar-thin-track);
        background-color: var(--scrollbar-thin-track);
        border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--profile-body-divider-color);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
    }
}

[class^=content] {
    &>[class^=chatContent] {
        max-width: 100%;
    }
}

[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']),
[class^=voiceChannelsButton_],
[class^=containerPadding_]>[class^=bar_] {
    display: none;
}

[class^=actionButton]:first-child>[class^=icon_] {
    margin-left: 1px;
}

[class^=channelTextArea]>[class^=stackedBars_],
[class^=memberSinceWrapper_],
[class^=memberSinceWrapper]>*:not([class^=divider]),
[class^=overlay_]>[class^=body]>[class^=content] {
    background: transparent !important;
}

[class^=app_],
[class^=bg_],
[class^=appMount_],
[class^=container]>[class^=wrapper_],
[class^=privateChannels]>[class^=scroller_],
[class^=privateChannels_],
[class^=sidebar_]>[class^=container_],
[class^=sidebar_],
[class^=sidebarRegionScroller_] {
    background-color: var(--app-background);
    background: var(--app-background);
}

[class^=container_]>[class^=header_] {
    box-shadow: none;
    border: none;
    background: transparent;
}

[class^=peopleListItem_] {
    border-radius: 8px;
    margin: 15px 30px 15px 30px;
    transition: all 0.5s ease;

    &:hover {
        border-radius: 8px;
        margin: 15px 45px 15px 45px;
    }

    [class^=listItemContents_] {
        padding: 10px;
    }
}

[class^=scroller_]>[class^=itemCard] {
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    transition: all 0.5s ease;

    &:hover {
        border-radius: 8px;
        margin: 10px 15px 10px 15px;
    }
}

[data-list-item-id*=channels___] {
    max-width: 96%;
    border-radius: 8px;
}

[class^=linkTop],
[class^=layout]>[class^=avatar]>[class^=wrapper] {
    transform: translateX(2px);
}

[class^=userInfo]>[class^=wrapper] {
    translate: 0px 4px;
}

[class^=channel__]>[class^=interactive] {
    max-width: 99%;
}

[id^=message-accessories]+[class^=buttonContainer]>[class^=buttons] {
    top: -27px;
}

[class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]) {
    position: sticky;
    bottom: 0px;
    z-index: 999;
}

[class^=base_]:has([class*=color]) [class^=notice__] {
    border-radius: 8px 8px 8px;
    margin: 5px 3px 5px 10px;
}

[type="button"]:not([class*=centerButton]),
[role="menuitem"],
[class^=side_]>[class^=item_],
[class^=tabBar_]>[class^=item_],
[class^=channel__]>[class^=interactive],
[type="submit"] {
    border-radius: 8px !important;
}

[class^=dot__] {
    display: none;
}

[class^=newMessagesBar] {
    backdrop-filter: blur(1rem);
}

[class*=colorable]:not([class*=red_]) {
    background: var(--color-accent-button) !important;
}
